@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #1e2235;
    color:white;
    font-family: "Roboto";
}
.header{
    width: 80%;
    margin:  0 auto;
    padding: 50px 0 ;
}
.nav img{
    height: 54px;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    list-style: none;

}
.nav ul a{
    text-decoration: none;
    color:white;

}
.linha{
    border-left: 1px solid white;
    height: 40px;
}
.btn{
    padding: 10px 20px;
    border: 1px solid #8b5cf6;
    border-radius:5px;
    background-color: #8b5cf6;
    text-decoration: none;
    color:white;
    
}
.btn-outline{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-left: 1px solid white;
    border-radius:5px;
    /* background-color: rgb(139,92,246); */
    
}
.banner{
    /* margin-top: 100px; */
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 ;
     display: inline-flex; 
    /* flex-direction: row; */
     align-content: center; 
     

}
.esquerda{
    width: 40%;
}
.esquerda h2{
    color: #8b5cf6;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}
.esquerda h1{
     margin-bottom: 25px;
     font-weight: 600;
}
.before-btn{
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 200;
    line-height: 1.5;
}
.after-btn{
    margin-top: 25px;
    font-size: 14px;
font-weight: 200;
}
.direita{
    border-radius: 15px;
    display: inline-block;
}
.direita dir-01{
    border: 10px solid green;
    width: 50%;
    height: 60%;
}